* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font-leckerli-one: "Leckerli One", cursive;
  --font-baloo-2: "Baloo 2", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  --logo: 400 4rem/normal var(--font-leckerli-one);
  --h2: 700 2.8rem/normal var(--font-baloo-2);
  --h3: 700 1.8rem/normal var(--font-baloo-2);
  --text-md: 400 1.6rem/normal var(--font-open-sans);
  --text-sm: 400 1.4rem/normal var(--font-open-sans);
  --text-xs: 400 1.2rem/normal var(--font-open-sans);


  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;
  --danger: #FF5959;
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}

body {
  font: var(--text-md);
  background-color: var(--shape-body);
  color: var(--text-body);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.gap-16 {
  gap: 1.6rem;
}

.grid {
  display: grid;
}