#app {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  height: 100vh;
  overflow: hidden;
}

aside {
  padding: 3.2rem 0 3.2rem 3.2rem;

  .aside-content {
    margin-left: auto;
    max-width: 40rem;
    height: 100%;
    background-image: url(../assets/Background.png);
    background-position: center;
    background-size: cover;
    padding: 3.2rem;
    border-radius: 1.2rem;

    img {
      margin-bottom: 1.6rem;
    }

    h1 {
      font: var(--logo);
      color: var(--pink);
      margin-bottom: 0.4rem;
    }

    p {
      color: var(--text-heading);
      font-weight: 300;
    }
  }
}

main {
  height: 100vh;
  overflow: auto;

  padding: 3.2rem;

  .main-container {
    /* max-width: 56rem; */
    max-width: 82rem;
    background-color: var(--shape-body);
    padding: 8rem 3.2rem;
    border-radius: 1.2rem;

    h2 {
      font: var(--h2);
      color: var(--text-heading);
      margin-bottom: 4rem;
    }
  }
}
